<head>
    <title>Chat Service</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>    

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js">
    </script>

    
</head>

<body ng-app="chatservice">

    <div class="page-header">
        <h1>&nbsp&nbsp&nbsp&nbsp&nbspChat Service</h1>
    </div>

    <div style="margin-left: 5%;">
        <div class="col-md-12" ng-controller="chatCtrl">
            
            <div class="col-md-4" >
                <div class="table-responsive " style="height: 80%; ">
                    <table class="table table-bordered" ng-model="chatlist" style="border: 3px">
                        <tr>
                            <th> ChatList</th>
                            <th> <button type="button" class="btn btn-default" data-toggle="modal" 
                                data-target="#addChatModal">Create New Chat</button> </th>
                        </tr>
                        <tr ng-repeat="chat in chatlist">
                            <td ng-click="show_profile(chat['profile_id'])"> {{chat["disp_name"]}}</td>
                            <!-- <td> {{chat["id"]}}</td> -->
                            <td ng-click="div_controller(chat['id'])"> Message</td>
                            <!-- <td ng-click="getMessages(chat['id'])"> Message</td> -->
                            <!-- <td ng-click="show_profile(chat['profile_id'])">Profile</td> -->
                        </tr>
                    </table>
                </div>
                
            </div>


            <div class="col-md-8" class="tab-container" >

                <div ng-repeat="chat in chatlist"  ng-show="show_divs[chat['id']]">
                
                    <div class="panel panel-default" id="div_{{chat['id']}}" 
                    style="height: 80%; position:relative;" >
                        <div class="panel-heading">{{chat['disp_name']}}</div>
                        <div class="panel-body" style="height: 75%; overflow: auto;">
                            <div ng-repeat="msg in all_messages[chat['id']]">
                                <h5>[{{msg['sender_name']}}]: {{msg['content']}}</h5>
                            </div>

                            <div class="input-group col-xs-11"  style="position:absolute; bottom:4%">
                                <input type="text" class="form-control " id="input_{{chat['id']}}"
                                    placeholder="Enter Message">
                                <div class="input-group-btn">
                                    <button class="btn btn-primary" 
                                        ng-click="sendMessage(chat['id'])">
                                        <i class="glyphicon glyphicon-send"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="addChatModal" role="dialog">
        <div class="modal-dialog">
    
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create New Chat</h4>
                </div>
                <div class="modal-body">
                    <p>Please Enter Email Address of Other User: </p>
                    <input type="text" class="form-control" ng-model="email" id="email">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                    onclick="createChat(email.value)">Create Chat</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
    
        </div>
    </div>

    <script>
        var app = angular.module("chatservice", ['ui.bootstrap']);
        

        app.controller('chatCtrl', function ($scope, $http, $window,
            $uibModal) {

            $scope.all_messages = {};
            $scope.show_divs = {};

            $scope.current_div = null;

            var token = localStorage.getItem("token")
            
            $http({
                method: "GET",
                url: "http://192.168.43.71/chatservice/chatlist",
                headers: {
                    "Content-Type": "application/json",
                    "token" : token
                }
            }).then(
                function mySuccess(response) {
                    data = response.data   
                    $scope.chatlist = data["chatlist"]

                    $scope.chatlist.forEach(chat => {
                        // console.log(chat['id'])
                        $scope.getMessages(chat['id'])
                        $scope.show_divs[chat['id']] = false
                        
                    });

                },
                function myError(response) {
                    // console.log(localStorage.getItem("token"))
                    alert("[Chatlist] " + response.status+" "+ response.data);
                }
            );


            // Chatlist API calls

            createChat = function(email) {
                $http({
                    method: "PUT",
                    url: "http://192.168.43.71/chatservice/chatlist",
                    headers: {
                        "Content-Type": "application/json",
                        "token": token
                    },
                    data: {
                        "email": email
                    }
                }).then(
                    function mySuccess(response) {
                        data = response.data

                        $scope.chatlist = data["chatlist"]

                    },
                    function myError(response) {
                        alert("[CreateChat] " + response.status + response.data);
                    }
                );
            }

            $scope.show_profile = function (profile_id) {
                $scope.open(profile_id)

            }
            $scope.open = function (user_id) {
                $http({
                    method: "GET",
                    url: "http://192.168.43.71/chatservice/userprofile",
                    headers: {
                        "Content-Type": "application/json",
                        "token": token
                    },
                    params: {
                        "user_id": user_id
                    }
                }).then(
                    function mySuccess(response) {      
                        $scope.data = response.data
                        // console.log(data)
                    },
                    function myError(response) {
                        alert("[UserProfile] " + response.status + response.data);
                    }
                );

                var $uibModalInstance = $uibModal.open({
                    resolve: {
                        items: function () {
                            return $scope.data;
                        }
                    },
                    scope: $scope,
                    template: `
                            <div class="page-header">
                                <h1>&nbsp&nbsp&nbsp&nbsp&nbspUser Profile</h1>
                            </div>
                                <div style="margin:5%">
                                    Email : {{data['email']}} 
                                    <br><br>
                                    Name: {{data['display_name']}}
                                    <br><br>
                                    About: {{data['about']}}
                                    <br><br>
                                    Last Seen: {{data['last_seen']}}
                                 </div>
                            `
                });
                
            }


            // Messages API CALLS

            $scope.getMessages = function (chat_id) {
                $http({
                    method: "GET",
                    url: "http://192.168.43.71/chatservice/messages",
                    headers: {
                        "Content-Type": "application/json",
                        "token": localStorage.getItem("token")
                    },
                    params: {
                        "chat_id": chat_id
                    }
                }).then(
                    function mySuccess(response) {
                        $scope.all_messages[chat_id] = response.data
                        $scope.messages = response.data
                        // console.log("[Messages]", $scope.messages)
                    },
                    function myError(response) {
                        alert(response.status + " " + response.data);
                    }
                );

                // return messages

            }

            $scope.sendMessage = function (chat_id) {
                content = document.getElementById("input_" + chat_id).value

                $http({
                    method: "POST",
                    url: "http://192.168.43.71/chatservice/messages",
                    headers: {
                        "Content-Type": "application/json",
                        "token": localStorage.getItem("token")
                    },
                    data: {
                        "chat_id": chat_id,
                        "type": 1,
                        "content": content,
                    }
                }).then(
                    function mySuccess(response) {
                        document.getElementById("input_" + chat_id).value = ""
                    },
                    function myError(response) {
                        alert(response.status + " " + response.data);
                    }
                );

            }

            // Div Controller

            $scope.div_controller = function (chat_id) {

                if ($scope.current_div != null) {
                    $scope.show_divs[$scope.current_div] = false
                }

                $scope.current_div = chat_id
                $scope.show_divs[chat_id] = true
            }
       

        });

    </script>
</body>
</html>

